* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  background-color: white;
  color: darkgray;
  position: relative;
  padding: 0 50px;
}

.segment {
  background-color: darkgray;
  color: white;
  font-size: 12px;
  border-radius: 6px;
  height: 14px;
  padding: 0 10px;
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.form-submit {
  padding: 10px 20px;
  text-align: center;
}

.form-submit :nth-child(n) {
  margin: 0 10px;
}
.notification {
  color: red;
}

@media screen and (max-width: 600px) {
  .form-submit span,
  button {
    display: block;
  }

  .form-submit :nth-child(n) {
    margin: 0 auto;
  }
}
